################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DocumentServer.Core/.vs/DocumentServer.Core
/DocumentServer.Core/DocmentServer.Core.BizService/obj
/DocumentServer.Core
